
.searchbar {
  margin: 1px 5px 5px 1px;
}

.booksection {
  margin: 15px 10px 10px 10px;
}

.custcards {
  background-color: beige;
  border-radius: 15px;
  padding: 10px 1px 10px 10px;
  margin: 1px 5px 5px 1px;
}

